<div id="macros">

  <!-- explanation -->
  <div class="container-fluid">
    <div class="row macros-explanation">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <p>Last Updated: {{site.data.macros.updated}}</p>
        <p>Below you will find a complete breakdown of my macros: proteins, carbs,
           and fats. Under that I've listed out every one of my meals, including
           portions and time. I find eating the same thing each day makes bulk
           cooking easier and maintains consistency in my diet. This page will be
           updated any time I change my macros or meal plan.
        </p>
      </div>
    </div>
  </div>


  <!-- macros -->
  <div class="container-fluid">
    <div class="row macros">

      <div class="col-md-2 col-md-offset-3 text-center">
        <p class="macros-circle center-block">{{site.data.macros.protein}}</p>
        <p>Protein</p>
      </div>

      <div class="col-md-2 text-center">
        <p class="macros-circle center-block">{{site.data.macros.carb}}</p>
        <p>Carbs</p>
      </div>

      <div class="col-md-2 text-center">
        <p class="macros-circle center-block">{{site.data.macros.fat}}</p>
        <p>Fat</p>
      </div>

    </div>
  </div>


  <!-- meals -->
  <div class="container-fluid">
    {% for meal in site.data.macros.meals %}

      <div class="row vspacer50">

        <div class="col-md-2 col-md-offset-3 col-lg-offset-4">
          <p class="meal-name">{{meal.name}}</p>
          <p class="meal-time">{{meal.time}}</p>
        </div>

        <div class="col-md-4 col-lg-3 food-box">
          {% for food in meal.foods %}
            <div class="row">
              <div class="col-xs-8">
                <p class="food-name">{{food.name}}</p>
              </div>
              <div class="col-xs-4">
                <p class="food-quantity">{{food.quantity}}</p>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>

    {% endfor %}
  </div>

</div>
