<div class="photos">

  <div class="container">

    <div class="row vspacer30">
      <h1 class="photo-banner text-center">
        <a href="/photos">Photos.</a>
      </h1>
    </div>

    {% assign photos = "" | split:"|" %}

    {% for post in site.posts %}
      {% if {{post.layout}} == "photo" %}
        {% assign photos = photos | push: post %}
      {% endif %}
    {% endfor %}

    {% if {{include.categories}} %}
      {% include categories.html %}
    {% endif %}

    <div class="row vspacer30">

      {% for photo in photos limit:{{include.limit}} %}

        {% assign mod2 = forloop.index | modulo: 2 %}
        {% assign mod3 = forloop.index | modulo: 3 %}

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 vspacer30">
          <div class="photo-img">
            <a href="{{photo.url}}">
              <img class="img-responsive center-block" src="{{photo.thumb}}">
            </a>
          </div>
        </div>

        {% if mod2 == 0 %}
          <div class="clearfix visible-sm-block visible-md-block"></div>
        {% endif %}

        {% if mod3 == 0 %}
          <div class="clearfix visible-lg-block"></div>
        {% endif %}

      {% endfor %}

    </div>

  </div>
</div>
