<div id="training">

  <!-- explanation -->
  <div class="container-fluid">
    <div class="row training-explanation">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <p>Last Updated: {{site.data.training.updated}}</p>
        <p>Below you will find my complete training program, including every
           exercise, set, and rep. You will see that I base my split around
           weekdays, as I like to keep weekends as a rest period. I apply
           progressive overload to every exercise, meaning that if I hit all reps,
           I will increase the weight the following week. This page will be
           updated any time I change my training split.
        </p>
      </div>
    </div>
  </div>


  <!-- training -->
  <div class="container-fluid">
    <div class="row topspacer50">
      {% for day in site.data.training.days %}

        <div class="container-fluid">
          <div class="row vspacer50">

            <div class="col-md-2 col-md-offset-3 col-lg-offset-4">
              <p class="day-name">{{day.name}}</p>
              <p class="day-description">{{day.description}}</p>
            </div>

            <div class="col-md-5 col-lg-3 exercise-box">
              {% for exercise in day.exercises %}
                <div class="row">
                  <div class="col-xs-8">
                    <p class="exercise-name">{{exercise.name}}</p>
                  </div>
                  <div class="col-xs-4">
                    {% if exercise.sets == null or exercise.reps == null %}
                      <p class="exercise-sets">Varies</p>
                    {% else %}
                      <p class="exercise-sets">{{exercise.sets}} x {{exercise.reps}}</p>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>

          </div>
        </div>

      {% endfor %}
    </div>
  </div>

</div>
